@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
  height: 100%;
}

body {
  @apply h-full;
  height: 100%;
}

#__nuxt {
  @apply h-full;
  height: 100%;
}

#__layout {
  @apply h-full;
  height: 100%;
}
